<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="notedevad.blogspot.com.notes">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:label="Notes"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true"
        android:theme="@style/LaunchTheme"
        android:enableOnBackInvokedCallback="true">

        <!-- Flutter Impeller (can enable for better performance on newer devices) -->
        <meta-data
            android:name="io.flutter.embedding.android.EnableImpeller"
            android:value="false"/>

        <!-- AdMob App ID: Replace with your production ID before release -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7237142331361857~6075366135"/>

        <!-- Flutter embedding version -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2"/>

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- Normal theme after launch -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"/>

            <!-- Launcher intent -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

    <!-- Queries for Flutter plugins (PROCESS_TEXT, etc.) -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>

</manifest>
